.grid-container{
    width: 320px;
    height: 320px;
    background-color: var(--darkgrey);
    border: 2px solid var(--darkgrey);
    border-radius: 0.75rem;
}
.grid-container:hover{
    border-color: var(--green);
    transition: all 0.3s;
}
.grid-container-red:hover{
    border-color: var(--red);
    transition: all 0.3s;
}

.info-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin:1.5rem;
}


.name-col {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.stock-symbol {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0;
}

.stock-name {
    color: var(--grey);
    font-size: 1rem;
    margin: 0;
}

/* Percentage Change & Icon */
.chip-flex {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1rem;
}

.price-chip {
    border: 2px solid var(--green);
    border-radius: 2rem;
    padding: 0.35rem 1.25rem;
    text-align: center;
    font-weight: 600;
    color: var(--green);
    font-size: 1rem;
    min-width: 60px;
    transition: all 0.3s;
}

.price-chip:hover,
.icon-chip:hover {
    background-color: var(--green);
    color: var(--white);
}

.icon-chip {
    border: 2px solid var(--green);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green);
    font-size: 1rem;
    transition: all 0.3s;
}

/* Red theme for negative stocks */
.chip-red {
    border-color: var(--red) !important;
    color: var(--red) !important;
}

.chip-red:hover {
    background-color: var(--red) !important;
    color: var(--white) !important;
}

/* Stock Price & Details */
.info-container {
    margin-top: 0.5rem;
}

.stock-price {
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.stock-price.negative {
    color: var(--red);
}

.stock-price.positive {
    color: var(--green);
}

.stock-details {
    color: var(--grey);
    font-size: 0.9rem;
    font-weight: 500;
    margin: 2px 0;
}
