.pagination-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically (if needed) */
  margin-top: 30px;
  margin-bottom: 80px; /* Adjust spacing */
  width: 100%; /* Ensure it takes full width */
}
.MuiPaginationItem-root {
  font-size: 1.2rem !important; /* Increase size */
  min-width: 45px !important; /* Adjust button width */
  min-height: 45px !important; /* Adjust button height */
  border-radius: 50px; /* Rounded corners */
  transition: background-color 0.3s ease-in-out; /* Smooth transition */
}

/* Add blue hover effect */
.MuiPaginationItem-root:hover {
  background-color: var(--blue) !important;
  color: white !important;
}